/* MAIN */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@font-face {
    font-family: 'Minecraft';
    src: url('MinecraftFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Minecraft', sans-serif;
    background: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* LOADING SITE STYLE */
#loadingScreen {
    position: fixed;
    inset: 0;
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    image-rendering: pixelated;
}

    #loadingScreen.hide {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease;
    }
body {
    visibility: hidden;
}

    body.loaded {
        visibility: visible;
    }







/* COLORED TEXT JS */
.red { color: #ff4d4d; }
.lightred { color: #ff9999; }

.redpink { color: #ff4d88; }
.lightredpink { color: #ff99bb; }

.pink { color: #ff66b3; }
.lightpink { color: #ff99cc; }

.purple { color: #9933ff; }
.lightpurple { color: #cc99ff; }

.blue { color: #4da6ff; }
.lightblue { color: #99ccff; }

.cyan { color: #33ffff; }
.lightcyan { color: #99ffff; }

.aqua { color: #33cccc; }
.lightaqua { color: #99eeee; }

.green { color: #33cc33; }
.lightgreen { color: #99ff99; }

.yellow { color: #ffd633; }
.lightyellow { color: #ffff99; }

.orange { color: #ff9933; }
.lightorange { color: #ffcc80; }

.brown { color: #b3774d; }
.white { color: #ffffff; }
.black { color: #333333; }
.gray { color: #aaaaaa; }

/* ROTATE OVERLAY */
#rotateWarning {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.rotate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rotate-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.rotate-text {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient( 90deg, #ff004c, #ff75a0, #ffffff, #ff75a0, #ff004c );
    background-size: 150% 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 1.5s linear infinite;
    transform: translateX(-5px);
}

.phone-bg {
    font-size: 40px;
    opacity: 0.45;
    animation: rotatePhone 2.5s ease-in-out infinite;
    filter: saturate(0.5) hue-rotate(120deg);
}

@keyframes rotatePhone {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(90deg) scale(1.1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}


@media (orientation: portrait) {
    #rotateWarning:not([data-dismissed="true"]) {
        display: flex;
    }

    body {
        overflow: hidden;
    }
}

#rotateDismiss {
    margin-top: 15px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.1);
    color: white;
    transition: 0.2s ease;
    align-self: center;
    font-size: 18px;
    font-family: 'Minecraft';
    opacity: 0.7;
}

    #rotateDismiss:hover {
        background: rgba(255, 255, 255, 0.2);
    }
.rotate-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rotate-subtext {
    font-size: 12px;
    opacity: 0.4;
    background: linear-gradient( 90deg, #ff004c, #ff75a0, #ffffff, #ff75a0, #ff004c );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s linear infinite;
}



















/* GRID SECTIONS */
/* MAIN */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11px;
    row-gap: 11px;
    width: min(1300px, 90vw);
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
}

.project-card {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: clamp(140px, 7vh + 10vw, 420px);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.25s ease, filter 0.25s ease, box-shadow 0.25s ease;
    will-change: transform;
}

.project-desc {
    font-size: 13px;
    position: relative;
    z-index: 2;
}

.project-title {
    margin-top: 10px;
    font-size: 21px;
    position: relative;
    z-index: 2;
}
@media (max-aspect-ratio: 1/1) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

    .project-card::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        transition: 2s ease;
        filter: brightness(0.18) saturate(0.2);
        z-index: 0;
    }
    .project-card:hover::before {
        filter: brightness(0.4) saturate(1.0);
    }
    .project-card:hover {
        transform: translateY(-8px) scale(1.03);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    }










/* About Me part */
#skillsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
}

.skill {
    position: relative;
    width: 100%;
    max-width: none;
    padding: 15px;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    transition: transform 0.25s ease, background 0.25s ease, border 0.25s ease;
}

    .skill:hover {
        transform: translateY(-4px) scale(1.02);
        background: rgba(255, 255, 255, 0.09);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

/* name + level row */
.skill-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.skill-name {
    font-weight: 500;
    opacity: 0.95;
}

.skill-meta {
    font-size: 12px;
    opacity: 0.6;
}

/* XP BAR */
.bar {
    width: 100%;
    height: 6px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
    margin-top: 4px;
}

.bar-fill {
    height: 100%;
    width: 0%;
    border-radius: 999px;
    transition: width 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    transition-delay: 0.3s;
}


#skillOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 0.45s ease-in-out;
}

    #skillOverlay.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible; 
    }

        #skillOverlay.show #skillCard {
            transform: perspective(900px) scale(1);
            filter: blur(0px);
            opacity: 1;
        }


#skillCard {
    width: min(420px, 92vw);
    padding: 20px;
    border-radius: 50px;
    border: solid;
    border-color: rgba(100, 100, 100, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: center;
    transform-style: preserve-3d;
    transform: perspective(900px) scale(0.85);
    filter: blur(10px);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(.2,.8,.2,1), opacity 0.45s ease, filter 0.7s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(14px);
}



#skillCard h2 {
    margin: 0;
    font-size: 24px;
}

#skillXP {
    font-size: 13px;
    opacity: 0.7;
}

#skillCard .bar {
    height: 10px;
    width: 100%;
    margin: 8px 0;
}

#skillDesc {
    font-size: 20px;
    opacity: 1;
}


/* Skill page buttons */
#skillsPagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 5px;
}

    #skillsPagination button {
        padding: 6px 12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: rgba(255,255,255,0.1);
        color: white;
        transition: 0.2s;
    }

        #skillsPagination button:hover {
            background: rgba(255,255,255,0.2);
        }

    #skillsPagination span {
        font-size: 14px;
        opacity: 0.7;
    }















/* Socials part */
#socialOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.45s ease-in-out;
}

    #socialOverlay.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

        #socialOverlay.show #socialCard {
            transform: perspective(900px) scale(1);
            filter: blur(0px);
            opacity: 1;
        }


#socialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 1px;
    padding: 20px;
    border-radius: 50px;
    border: solid;
    border-color: rgba(100, 100, 100, 0.75);
    width: min(550px, 90vw);
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(900px) scale(0.85);
    filter: blur(10px);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(.2,.8,.2,1), opacity 0.45s ease, filter 0.7s ease-in-out;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    pointer-events: auto;
}

    #socialCard::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        filter: blur(3px) saturate(0.6) brightness(0.32);
        transform: scale(1.1);
        z-index: -1;
    }


#bigAvatar {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    image-rendering: auto;
}

img {
    image-rendering: auto;
}

.social-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45%, 180px), 1fr));
    gap: 15px;
    width: min(900px, 90vw);
    margin: 0 auto;
    justify-items: center;
    opacity: 0.85;
}


#bigLink {
    font-size: 16px;
    opacity: 0.6;
    color: #aaa;
    text-decoration: none;
    margin-bottom: 5px;
}

    #bigLink:hover {
        opacity: 1;
        text-decoration: underline;
    }

.social-tile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.85s;
    backdrop-filter: blur(8px);
    color: white;
    width: 100%;
    max-width: 200px;
}

    .social-tile img {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }

    .social-tile span {
        font-size: 14px;
    }

    .social-tile:hover {
        border-radius: 14px;
    }





















/* SECTIONS */
.section {
    height: 100dvh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: var(--bg);
    background-repeat: repeat-x; 
    background-position: center;
    background-size: auto 100vh;
    image-rendering: pixelated;
}



/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px;

}


h1 {
    font-size: clamp(28px, 6vw, 60px);
}

p {
    font-size: clamp(10px, 2vw, 18px);
}


.fade {
    opacity: 0;
    transform: translateY(40px) scale(0.76);
    filter: blur(5px) saturate(0);
    transition: opacity 0.7s ease-in-out, transform 1.2s ease-in-out, filter 1.5s ease-in-out;
    will-change: opacity, transform, filter;
    transition-delay: calc(var(--i, 0) * 100ms);
}

    .fade.show {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0) saturate(1);
    }



/* PROFILE ICON */
.profile-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    filter: opacity(0.90);
}
    .profile-pic:hover {
        filter: opacity(1) brightness(1.2);
    }
    .profile-pic.pulse {
        animation: pulseGlow 0.8s ease;
    }


@keyframes pulseGlow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255,255,255,0);
        filter: invert(0);
    }

    50% {
        transform: scale(1.08);
        box-shadow: 0 0 50px rgba(255,255,255,0.5);
        filter: invert(0.2);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255,255,255,0);
        filter: invert(0);
    }
}

/* CURSOR SHADOW */
#cursorLight {
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: radial-gradient(circle, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 30%, rgba(0,0,0,0.0) 70% );
    mix-blend-mode: multiply;
}

/* right side section navigation */
#nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 20;
}

/* each item */
.nav-item {
    font-size: 16px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 6px 10px;
    border-right: 2px solid rgba(255,255,255,0.2);
    text-align: right;
    background: fixed;
    background-color: rgb(0, 0, 0, 0.21);
}

    /* hover effect */
    .nav-item:hover {
        opacity: 1;
        transform: translateX(-4px);
        border-right: 2px solid white;
        background-color: rgb(0, 0, 0, 1);
    }

    /* active section highlight */
    .nav-item.active {
        color: rgb(255, 102, 102);
        opacity: 1;
        border-right: 2px solid red;
        transform: translateX(-7px);
        background-color: rgb(0, 0, 0, 0.4);
    }









/* prevent selection */
* {
    user-select: none;

}
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
/* Hide scrollbars globally */
html, body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none; 
    }


/* overlay */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 50;
}

    #overlay.show {
        opacity: 1;
        pointer-events: all;
    }

/* center profile */
#centerProfile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: 0.3s;
    z-index: 60;
    pointer-events: none;
}

    #centerProfile.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto;
    }

        #centerProfile.show #orbit {
            pointer-events: auto;
        }

#centerProfileImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid white;
}

/* orbit system */
#orbit {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* moons */
.moon {
    position: absolute;
    width: 90px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255,255,255,0.12);
    color: white;
    cursor: pointer;
}







































































/* Top Games Images */
.gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
}

    /* images */
    .gallery img {
        height: 150px;
        border-radius: 8px;
        flex-shrink: 0;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .gallery img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 80, 80, 0.4);
    }

    .gallery::-webkit-scrollbar {
        height: 12px;
    }

    .gallery::-webkit-scrollbar-track {
        background: rgb(255, 28, 28, 0.15);
        border-radius: 999px;
    }

    .gallery::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.08);
        border-radius: 999px;
    }

        .gallery::-webkit-scrollbar-thumb:hover {
            background: rgb(255, 28, 28, 0.35);
        }

/* FULLSCREEN IMAGE VIEWER */
#imageViewer {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

    #imageViewer.active {
        opacity: 1;
        pointer-events: all;
    }

#viewerImg {
    max-width: 85vw;
    max-height: 85vh;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(255,80,80,0.4);
    transform: scale(0.9);
    transition: transform 0.25s ease;
}

#imageViewer.active #viewerImg {
    transform: scale(1);
}
.image-item {
    position: relative;
    flex-shrink: 0;
}

.image-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    white-space: nowrap;
}

.image-item:hover .image-label {
    opacity: 1;
    bottom: 15px;
}











/* BOOTOM BAR */
#contactBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(49, 7, 26, 0.06);
    backdrop-filter: blur(10px);
    border-top: 3px solid rgba(255, 0, 164, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 9999;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
}
    #contactBar .contact-sub {
        font-size: 13px;
        opacity: 0.3;
        text-align: center;
        color: #ff99fa;
    }

    #contactBar a {
        color: #ff00f2;
        text-decoration: none;
    }

        #contactBar a:hover {
            text-decoration: underline;
        }


/* RAINBOW TEXT */
.rainbow {
    font-weight: 600;
    background: linear-gradient(330deg, #ff004c, #ff7a00, #ffe600, #00ff85, #00c3ff, #7a00ff, #ff004c );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
}
@keyframes rainbowMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}



