/* MAIN */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@font-face {
    font-family: 'Minecraft';
    src: url('MinecraftFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Minecraft', sans-serif;
    background: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#maintenanceScreen {
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: 999999;
}


/* COLORED TEXT JS */
.lime { color: #66ff66; }
.magenta { color: #ff66ff; }
.white { color: #ffffff; }
.gray { color: #aaaaaa; }
.black { color: #333333; }

.red { color: #ff4d4d; }
.green { color: #33cc33; }
.blue { color: #4da6ff; }
.yellow { color: #ffd633; }
.cyan { color: #33ffff; }
.orange { color: #ff9933; }
.purple { color: #9933ff; }
.pink { color: #ff66b3; }
.brown { color: #b3774d; }
.navy { color: #4d66cc; }
.teal { color: #33cccc; }
.olive { color: #999933; }
.maroon { color: #cc4d4d; }

.aqua { color: #33ffff; }
.violet { color: #9933ff; }
.gold { color: #ffcc33; }

.darkred { color: #b30000; }
.darkblue { color: #0000b3; }
.darkgreen { color: #00994d; }
.darkpurple { color: #660099; }
.darkorange { color: #b35900; }
.darkcyan { color: #009999; }

.neonpink { color: #ff33cc; }
.neongreen { color: #66ff33; }
.neonblue { color: #3366ff; }
.neonyellow { color: #ffff33; }
.neonpurple { color: #b84dff; }

.lightpink { color: #ff99cc; }
.lightblue { color: #99ccff; }
.lightgreen { color: #99ff99; }
.lightyellow { color: #ffff99; }
.lavender { color: #cc99ff; }

.silver { color: #cccccc; }
.bronze { color: #cc884d; }
.indigo { color: #4d33cc; }
.crimson { color: #e60033; }














/* GRID SECTIONS */
/* Main part */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: min(900px, 90vw);
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16 / 9;

    border-radius: 15px;
    position: relative;
    overflow: hidden;

    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 0.25s ease, filter 0.25s ease, box-shadow 0.25s ease;
    will-change: transform;
}

@media (max-width: 500px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        max-width: 90vw;
        aspect-ratio: 16 / 9;
    }
}

.project-desc {
    font-size: 13px;
    position: relative;
    z-index: 2;
}

.project-title {
    margin-top: 10px;
    font-size: 21px;
    position: relative;
    z-index: 2;
}


    .project-card::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        transition: 2s ease;
        filter: brightness(0.18) saturate(0.2);
        z-index: 0;
    }
    .project-card:hover::before {
        filter: brightness(0.4) saturate(1.0);
    }
    .project-card:hover {
        transform: translateY(-8px) scale(1.03);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    }


/* Socials part */
#socialOverlay {
    position: fixed;
    inset: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.35s ease-in-out;
}

    #socialOverlay.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
        #socialOverlay.show #socialCard {
            transform: perspective(900px) scale(1);
            opacity: 1;
        }


#socialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 1px;
    padding: 30px;
    border-radius: 50px;
    border: solid;
    border-color: rgb(255, 255, 255, 0.2);
    width: min(600px, 90vw);
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(900px) scale(0.85);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(.2,.8,.2,1), opacity 0.25s ease;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    pointer-events: auto;
}
    #socialCard::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        filter: blur(2px) saturate(0.6) brightness(0.4);
        transform: scale(1.1);
        z-index: -1;
    }



#bigAvatar {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.social-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    width: min(900px, 90vw);
    margin: 0 auto;
    justify-items: center;
}

@media (max-width: 900px) {
    .social-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

#bigLink {
    font-size: 16px;
    opacity: 0.6;
    color: #aaa;
    text-decoration: none;
    margin-bottom: 5px;
}

    #bigLink:hover {
        opacity: 1;
        text-decoration: underline;
    }

.social-tile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
    backdrop-filter: blur(8px);
    color: white;
    width: 100%;
    max-width: 200px;
}

    .social-tile img {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }

    .social-tile span {
        font-size: 14px;
    }

    .social-tile:hover {
        transform: scale(1.05);
    }





















/* SECTIONS */
.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


    .section::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.05);
        z-index: -2;
    }


/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


h1 {
    font-size: 60px;
    margin: 0;
}

p {
    font-size: 18px;
    opacity: 0.8;
}

/* FADE */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s ease-in-out;
}

    .fade.show {
        opacity: 1;
        transform: translateY(0);
    }


/* PROFILE ICON */
.profile-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

/* CURSOR SHADOW */
#cursorLight {
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: radial-gradient(circle, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 30%, rgba(0,0,0,0.0) 70% );
    mix-blend-mode: multiply;
}

/* right side section navigation */
#nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 20;
}

/* each item */
.nav-item {
    font-size: 16px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 6px 10px;
    border-right: 2px solid rgba(255,255,255,0.2);
    text-align: right;
    background: fixed;
    background-color: rgb(0, 0, 0, 0.41);
}

    /* hover effect */
    .nav-item:hover {
        opacity: 1;
        transform: translateX(-4px);
        border-right: 2px solid white;
        background-color: rgb(0, 0, 0, 1);
    }

    /* active section highlight */
    .nav-item.active {
        opacity: 1;
        border-right: 2px solid red;
        transform: translateX(-7px);
        background-color: rgb(0, 0, 0, 1);
    }









/* prevent selection */
* {
    user-select: none;
}

/* overlay */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 50;
}

    #overlay.show {
        opacity: 1;
        pointer-events: all;
    }

/* center profile */
#centerProfile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: 0.3s;
    z-index: 60;
    pointer-events: none;
}

    #centerProfile.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto;
    }
        #centerProfile.show #orbit {
            pointer-events: auto;
        }

#centerProfileImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid white;
}

/* orbit system */
#orbit {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* moons */
.moon {
    position: absolute;
    width: 90px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255,255,255,0.12);
    color: white;
    cursor: pointer;
}















